.nav-link {
  color: rgb(253, 246, 246) !important; 
}
.navbar{
  position: absolute;
  padding-left: 80px;
  padding-right: 80px;
  justify-content: space-between !important;
}
 
.navbar-brand img{
  height: 50px;
  ;
}
.bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;

}
.button2{
display: flex;
}

.herosection{
  display: flex;
  justify-content: space-around;
  /* padding-top: 150px; */
  
}
.para{
  width: 77%;
}

img.moon{
  display: block;
  margin: auto;
  
}
